<p style="color: green"><%= notice %></p>

<h1>Clases</h1>

<div id="clases">
  <% @clases.each do |clase| %>
    <%= render clase %>
    <p>
      <%= link_to "Show this clase", clase %>
    </p>
  <% end %>
</div>

<%= link_to "New clase", new_clase_path %>
