<div class="btn-group" role="group" aria-label="Sort Events">
  <button id="btn_sort_events_by_date" type="button" class="btn btn-secondary btn-sort-date"><i class="far fa-calendar-alt"></i></button>
  <button id="btn_sort_events_by_name" type="button" class="btn btn-secondary btn-sort-name"><i class="fas fa-sort-alpha-down"></i></button>
</div>