<div class="row ml-0 mt-3">
  <h2>Upcoming Events</h2>
</div>
<div class="row ml-0 mt-2">
  <p>We have awesome events for you!</p>
</div>
<%= render partial: 'events/event_list', locals: { events: @events } %>
